<ion-content>
    <div class="wrapper">

        <div class="sidebar" data-color="azure" data-background-color="white"
            style=" background: linear-gradient(rgba(255, 255, 255, 0.671),rgba(255, 255, 255, 0.8)), url('../../../assets/images/sidebar-3.jpg'); background-repeat: no-repeat;background-size: cover;"
            data-image="../../../assets/images/sidebar-3.jpg">
            <!--
         Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
         Tip 2: you can also add an image using data-image tag
        -->
            <div class="logo">
                <a [routerLink]="[{ outlets: { admin: ['dashboard'] } }]" class="simple-text logo-normal">
                    <!--<img [src]="logodatacons" alt="Lafrage Holcim" style="width: 40%;">-->
                    <!-- <ion-title>I-Check</ion-title> -->
                    <img src="{{ iCheckLogo }}" style="width: 50%; height: 50%;">
                </a>
            </div>
            <div class="sidebar-wrapper" style="overflow: hidden">
                <ul class="nav">
                    <li class="nav-item" id="dashboard" style="width: 105%;">
                        <a class="nav-link" (click)="navigateTo('dashboard')">
                            <i class="material-icons">dashboard</i>
                            <p>Tableau de bord</p>
                        </a>
                    </li>
                    <li class="nav-item" id="history" style="width: 105%;">
                        <a class="nav-link" (click)="navigateTo('history')">
                            <i class="material-icons">history</i>
                            <p>Historiques des camions</p>
                        </a>
                    </li>
                    <li class="nav-item" id="synthese" style="width: 105%;">
                        <a class="nav-link" (click)="navigateTo('synthese')">
                            <i class="material-icons">content_paste</i>
                            <p>Synthèse de controle</p>
                        </a>
                    </li>

                    <li class="nav-item" id="vehicule" style="width: 105%;">
                        <a class="nav-link" (click)="navigateTo('vehicule')">
                            <i class="material-icons">local_shipping</i>
                            <p>Gestion des vehicules</p>
                        </a>
                    </li>

                    <li class="nav-item" id="qr-generator" style="width: 105%;">
                        <a class="nav-link" (click)="navigateTo('qr-generator')">
                            <i class="material-icons">line_style</i>
                            <p>Générateur QR</p>
                        </a>
                    </li>

                    <li class="nav-item" id="nav" style="width: 105%;">
                        <a class="nav-link" (click)="openSubmenu()">
                            <i class="material-icons">settings_applications</i>
                            <p>Paramètres</p>
                        </a>
                        <ul id="submenu">
                            <li class="nav-item" id="user" style="width: 105%;">
                                <a class="nav-link" (click)="navigateTo('user')">
                                    <i class="material-icons">supervised_user_circle</i>
                                    <p>Gestion des utilisateurs</p>
                                </a>
                            </li>

                            <li class="nav-item" id="site" style="width: 105%;">
                                <a class="nav-link" (click)="navigateTo('site')">
                                    <i class="material-icons">location_city</i>
                                    <p>Gestion des sites</p>
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="nav-item active-pro ">
                        <a class="nav-link" [routerLink]="[{ outlets: { admin: [logout] } }]"
                            href="javascript:void(0);">
                            <i class="material-icons">unarchive</i>
                            <p>Déconnexion</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top mt-2">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="tim-typo">
                            <!-- <ion-label>{{ p.title }}</ion-label>-->
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul>
                            <li class="nav-item active-pro ">

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">


                    <ion-router-outlet id="menu-content" name="admin"></ion-router-outlet>

                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Réalisé par <i class="material-icons"></i>
                        <a href="#" target="_blank">ADH Engeeniring</a> pour un meilleur web.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</ion-content>