<ion-content>
    <app-dashboard-stats [plateaus]="plateaus" [bennes]="bennes" [citernes]="citernes"
        [countbenneBlock]="countbenneBlock" [countbenneNotBlock]="countbenneNotBlock"
        [countciternesBlock]="countciternesBlock" [countciternesNotBlock]="countciternesNotBlock"
        [countplateausBlock]="countplateausBlock" [countplateausNotBlock]="countplateausNotBlock"
        [controledEngin]="controledEngin" [lineChartType]="lineChartType" [lineChartData]="lineChartData"
        [lineChartLabels]="lineChartLabels" [lineChartOpt]="lineChartOpt" [lineChartColor]="lineChartColor"
        >
    </app-dashboard-stats>
</ion-content>